<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Edit: <%= customer.firstName %> <%= customer.lastName %></h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active">
            <%= customer.firstName %> <%= customer.lastName %>
          </li>
        </ol>
      </nav>
    </div>

    <div class="col text-end fw-lighter">
      <b>UserID: <%= customer._id %></b>
    </div>
  </div>
</div>

<!-- form for creating new user -->
<form action="/edit/<%= customer._id %>?_method=PUT" method="post">
  <div class="row from-group mb-4">
    <div class="col">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        value="<%= customer.firstName %>"
        placeholder="First Name"
        required
      />
    </div>

    <div class="col">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        value="<%= customer.lastName %>"
        placeholder="Last Name"
        required
      />
    </div>
  </div>

  <div class="row from-group mb-4">
    <div class="col">
      <label for="tel">Telephone</label>
      <input
        type="text"
        class="form-control"
        id="tel"
        name="tel"
        value="<%= customer.tel %>"
        placeholder="Telephone"
        required
      />
    </div>

    <div class="col">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        value="<%= customer.email %>"
        placeholder="Email"
        required
      />
    </div>
  </div>
  <div class="from-group mb-4">
    <div class="col">
      <label for="details">Customer Details</label>
      <textarea
        class="form-control"
        name="details"
        id="details"
        cols="30"
        rows="12"
        placeholder="Customer Details"
      >
<%= customer.details %></textarea
      >
    </div>
  </div>
  <div class="from-group mb-4">
    <button type="submit" class="btn btn-primary">Update Customer</button>
  </div>
</form>

<form action="/edit/<%= customer._id %>?_method=DELETE" method="POST">
  <button
    type="submit"
    class="btn btn-danger"
    date-bs-toggle="modal"
    id="deleteButton"
    data-bs-target="#exampleModal"
  >
    DELETE Customer
  </button>
</form>
